@model IEnumerable<Scority.Models.Game>
@{
}

<h1>Games</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th class="text-right">Team size</th>
    </tr>
    @foreach (var game in Model)
    {
        <tr>
            <td>
                <a asp-action="Show" asp-route-id="@game.GameId">
                    @game.Name
                </a>
            </td>
            <td class="text-right">@game.TeamSize</td>
        </tr>
    }
</table>

@Model.Count() games found.